<div class="copyright">
  <span class="author" itemprop="copyrightHolder">Juhyun Song</span>
  &copy; <span itemprop="copyrightYear" id="copyright-year"></span>
</div>
<script>
  document.getElementById('copyright-year').textContent = new Date().getFullYear();
</script>
